In [1]:
x=4
print(type(x))

<class 'int'>

In [2]:
x='dsjak'
type(x)

str

In [3]:
str_1='AHMRD'+'Sheta'

In [4]:
print(str_1)

AHMRDSheta

In [5]:
print(2+3)

5

In [6]:
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
for item in list:
    print(item)

1
2
3
4
5

In [8]:
list[0]=10
print(list)

[10, 2, 3, 4, 5]

In [9]:
list.append(12)
print(list)

[10, 2, 3, 4, 5, 12]

In [10]:
list=[1,3,'asdf',4.049]
for item in list:
    print(item)

1
3
asdf
4.049

In [11]:
list_1=[[1,2,3],
        [4,5,6]
        ]
print(list_1)

[[1, 2, 3], [4, 5, 6]]

In [12]:
for value in list_1:
    for item in value:
        print(item)

1
2
3
4
5
6

In [13]:
list

[1, 3, 'asdf', 4.049]

In [14]:
list2=[1,2,3,4,5,6,7]
print(list2[2:])

[3, 4, 5, 6, 7]

In [15]:
import numpy as np

In [16]:
arr2=np.array([1,2,3,'ds',3.48])

In [17]:
arr2+'we'

array(['1we', '2we', '3we', 'dswe', '3.48we'], dtype='<U34')

In [18]:
print(type(arr2))

<class 'numpy.ndarray'>

In [19]:
n=3
print(type(n))

<class 'int'>

In [20]:
arr1

NameError: name 'arr1' is not defined

In [ ]:
arr1[1:3]

In [ ]:
arr1>12

In [ ]:
arr1[arr1>12]

In [ ]:
arr2

In [ ]:
arr3=np.array([[1,2,3],[4,5,6],[7,8,9]])
print(arr3)

In [ ]:
np.shape(arr3)

In [ ]:
arr3[1,2]

In [ ]:
arr1

In [ ]:
arr3[ : ,:2]

In [ ]:
np.mean(arr3[ : , 0])

In [ ]:
list1

In [ ]:
list1=[1,2,3,4,5]
list2=[17,12,40,50,60]

In [ ]:
import matplotlib.pyplot as plt
siz=50
plt.xlabel('distance')
plt.scatter(list1,list2,s=siz,c='red',alpha=0.9)
plt.text(3,18,'Egypt')
plt.grid(True)
plt.show()

In [ ]:
list3=[1,2,3,4,5,3,4,2,1,5,5,3,2,2,1,7,6,5,8,9,6,7,8,9,10]
y=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
plt.yticks(y)
plt.xlabel('time')
plt.ylabel('days')
plt.title('number of times per days')
plt.hist(list3,7)
plt.show()

In [ ]:
list1=['Ahmed','Sheta','zobh']
list2=['1','2','3']
print(list1)

In [ ]:
list1.index('Sheta')

In [ ]:
list2[1]

In [ ]:
dict1={'Ahmed':'male',
       'basma':'female',
       'dog': 'animal', 
       
      }

In [ ]:
print(dict1)

In [ ]:
dict1.keys()

In [ ]:
dict1['Ahmed']

In [ ]:
dict1['cat']='animal'
print(dict1)

In [ ]:
del(dict1['cat'])
dict1

In [35]:
dict = { "country":["Brazil", "Russia", "India", "China", "South Africa"],
        "capital":["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
        "area":[8.516, 17.10, 3.286, 9.597, 1.221],
        "population":[200.4, 143.5, 1252, 1357, 52.98] }

In [36]:
dict

{'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
 'capital': ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
 'area': [8.516, 17.1, 3.286, 9.597, 1.221],
 'population': [200.4, 143.5, 1252, 1357, 52.98]}

In [37]:
import pandas as pd
brics=pd.DataFrame(dict)
brics.index

RangeIndex(start=0, stop=5, step=1)

In [38]:
brics.index=['BR','RU','IN','CH','SA']
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [5]:
brics.index

Index(['BR', 'RU', 'IN', 'CH', 'SA'], dtype='object')

In [6]:
brics.head()

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [7]:
type(brics['country'])

pandas.core.series.Series

In [8]:
brics[['population','capital']]

    population    capital
BR      200.40   Brasilia
RU      143.50     Moscow
IN     1252.00  New Delhi
CH     1357.00    Beijing
SA       52.98   Pretoria

In [9]:
brics[1:3]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [10]:
brics.iloc[[2,3]]

   country    capital   area  population
IN   India  New Delhi  3.286      1252.0
CH   China    Beijing  9.597      1357.0

In [11]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [12]:
brics.iloc[[ 2] ,[1,3 ]]

      capital  population
IN  New Delhi      1252.0

In [13]:
brics.loc[['IN','CH'] , ['country','population']]

   country  population
IN   India      1252.0
CH   China      1357.0

In [14]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [15]:
brics[brics['area']>9]

   country  capital    area  population
RU  Russia   Moscow  17.100       143.5
CH   China  Beijing   9.597      1357.0

In [39]:
brics[np.logical_and(brics['area']>10,brics['area']<20)]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [40]:
not(22<16)

True

In [41]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [42]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [43]:
list1=['Ahmed','Yasser','Sheta']
for index, item in enumerate(list1) :
    print(f'{index}  {item}')

0  Ahmed
1  Yasser
2  Sheta

In [44]:
for char in 'animal' :
    print(char)

a
n
i
m
a
l

In [45]:
list2 =[[1,2,3,4],[4,6,7,8]]
for i in list2 :
    for y in i :
        print(y)

1
2
3
4
4
6
7
8

In [46]:
dict.items()

dict_items([('country', ['Brazil', 'Russia', 'India', 'China', 'South Africa']), ('capital', ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria']), ('area', [8.516, 17.1, 3.286, 9.597, 1.221]), ('population', [200.4, 143.5, 1252, 1357, 52.98])])

In [47]:
for key , values in dict.items():
    print(f'the {key} is key for {values}')

the country is key for ['Brazil', 'Russia', 'India', 'China', 'South Africa']
the capital is key for ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria']
the area is key for [8.516, 17.1, 3.286, 9.597, 1.221]
the population is key for [200.4, 143.5, 1252, 1357, 52.98]

In [48]:
import numpy as np
arr1=np.array([[1,2,3,4],[5,6,7,8]])
arr1.shape

(2, 4)

In [49]:
for i in np.nditer(arr1):
    print(i)

1
2
3
4
5
6
7
8

In [50]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [51]:
for lab , row in brics.iterrows():
    brics['LENGTH of capital']=len(row['capital'])

In [52]:
brics

         country    capital    area  population  LENGTH of capital
BR        Brazil   Brasilia   8.516      200.40                  8
RU        Russia     Moscow  17.100      143.50                  8
IN         India  New Delhi   3.286     1252.00                  8
CH         China    Beijing   9.597     1357.00                  8
SA  South Africa   Pretoria   1.221       52.98                  8

In [53]:
brics['length of capital']=brics['capital'].apply(len)
brics

,country,capital,area,population,LENGTH of capital,length of capital
BR,Brazil,Brasilia,8.516,200.40,8,8
RU,Russia,Moscow,17.100,143.50,8,6
IN,India,New Delhi,3.286,1252.00,8,9
CH,China,Beijing,9.597,1357.00,8,7
SA,South Africa,Pretoria,1.221,52.98,8,8

In [54]:
del(brics['LENGTH of capital'])

In [55]:
brics

         country    capital    area  population  length of capital
BR        Brazil   Brasilia   8.516      200.40                  8
RU        Russia     Moscow  17.100      143.50                  6
IN         India  New Delhi   3.286     1252.00                  9
CH         China    Beijing   9.597     1357.00                  7
SA  South Africa   Pretoria   1.221       52.98                  8

apples = [[9, 25, 33], 
          [16, 19, 16], 
          [25, 37, 15]]
for x in apples:
    print(x[2])

In [56]:
apples = [[9, 25, 33], 
          [16, 19, 16], 
          [25, 37, 15]]
for x in apples:
    print(x[2])

33
16
15

In [57]:
np.random.seed(123)
print(np.random.randint(0,2))
print(np.random.randint(0,2))
print(np.random.randint(0,2))
print(np.random.randint(0,2))
print(np.random.randint(0,2))
print(np.random.randint(0,2))

0
1
0
0
0
0

In [58]:
brics

         country    capital    area  population  length of capital
BR        Brazil   Brasilia   8.516      200.40                  8
RU        Russia     Moscow  17.100      143.50                  6
IN         India  New Delhi   3.286     1252.00                  9
CH         China    Beijing   9.597     1357.00                  7
SA  South Africa   Pretoria   1.221       52.98                  8

In [59]:
brics[(brics['population']>150) & (brics['population']<1500)]

   country    capital   area  population  length of capital
BR  Brazil   Brasilia  8.516       200.4                  8
IN   India  New Delhi  3.286      1252.0                  9
CH   China    Beijing  9.597      1357.0                  7

In [60]:
import numpy as np
brics[np.logical_and(brics['population']>150,brics['population']<1500)]

   country    capital   area  population  length of capital
BR  Brazil   Brasilia  8.516       200.4                  8
IN   India  New Delhi  3.286      1252.0                  9
CH   China    Beijing  9.597      1357.0                  7

In [143]:
brics.sort_values('area')

,country,capital,area,population,length of capital,length_of_country,x
SA,South Africa,Pretoria,1.221,52.98,8,12,43.390663
IN,India,New Delhi,3.286,1252.00,9,5,381.010347
BR,Brazil,Brasilia,8.516,200.40,8,6,23.532175
CH,China,Beijing,9.597,1357.00,7,5,141.398354
RU,Russia,Moscow,17.100,143.50,6,6,8.391813

In [75]:
brics[['area','country']]

      area       country
BR   8.516        Brazil
RU  17.100        Russia
IN   3.286         India
CH   9.597         China
SA   1.221  South Africa

In [76]:
brics[1:3]

   country    capital    area  population  length of capital
RU  Russia     Moscow  17.100       143.5                  6
IN   India  New Delhi   3.286      1252.0                  9

In [89]:
brics.loc['RU':'CH']

   country    capital    area  population  length of capital
RU  Russia     Moscow  17.100       143.5                  6
IN   India  New Delhi   3.286      1252.0                  9
CH   China    Beijing   9.597      1357.0                  7

In [93]:
brics[brics['capital']=='Moscow']

   country capital  area  population  length of capital
RU  Russia  Moscow  17.1       143.5                  6

In [119]:
brics

         country    capital    area  population  length of capital
BR        Brazil   Brasilia   8.516      200.40                  8
RU        Russia     Moscow  17.100      143.50                  6
IN         India  New Delhi   3.286     1252.00                  9
CH         China    Beijing   9.597     1357.00                  7
SA  South Africa   Pretoria   1.221       52.98                  8

In [120]:
brics[brics['country'].isin(['Brazil','Russia'])]

   country   capital    area  population  length of capital
BR  Brazil  Brasilia   8.516       200.4                  8
RU  Russia    Moscow  17.100       143.5                  6

In [124]:
brics['length_of_country']=brics['country'].apply(len)
brics

,country,capital,area,population,length of capital,length_of_country
BR,Brazil,Brasilia,8.516,200.40,8,6
RU,Russia,Moscow,17.100,143.50,6,6
IN,India,New Delhi,3.286,1252.00,9,5
CH,China,Beijing,9.597,1357.00,7,5
SA,South Africa,Pretoria,1.221,52.98,8,12

In [125]:
brics['x']=brics['population']/brics['area']
brics

,country,capital,area,population,length of capital,length_of_country,x
BR,Brazil,Brasilia,8.516,200.40,8,6,23.532175
RU,Russia,Moscow,17.100,143.50,6,6,8.391813
IN,India,New Delhi,3.286,1252.00,9,5,381.010347
CH,China,Beijing,9.597,1357.00,7,5,141.398354
SA,South Africa,Pretoria,1.221,52.98,8,12,43.390663

In [128]:
brics['area'].mean()

np.float64(7.944)

In [145]:
brics['area'].agg('mean')

np.float64(7.944)

In [16]:
x=input('enter the number')
print(x)

enter the number 5

5

In [42]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98