In [4]:
import pandas as pd
import os

###Merging to one dataset file .csv

In [13]:
path=r"D:\Sales_Analysis\Sales_Data"
files=os.listdir(path)
df=pd.DataFrame()
for file in files :
    full_path=os.path.join(path,file)
    df_temp=pd.read_csv(full_path)
    df=pd.concat([df,df_temp],ignore_index=True)

In [14]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"